<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sse.mapper.WorkNodeMapper">
    <resultMap id="workNodeRes"
               type="com.sse.model.WorkNodeEntity">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="IP" jdbcType="VARCHAR" property="ip" />
        <result column="PORT" jdbcType="VARCHAR" property="port" />
		<result column="WORK_NODE_ID" jdbcType="INTEGER" property="workNodeId"/>
        <result column="LAUNCH_DATE" jdbcType="TIMESTAMP" property="launchDate" />
		<result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    </resultMap>

    <insert id="addWorkNode" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.sse.model.WorkNodeEntity">
		INSERT INTO WORK_NODE
		(IP,
		PORT,
		WORK_NODE_ID,
		LAUNCH_DATE,
		STATUS,
		LAST_UPDATE_TIME)
		VALUES (
		#{ip},
		#{port},
		#{workNodeId},
		NOW(),
		#{status}
		NOW())
	</insert>

	<delete id="deleteWorkNode" parameterType="long">
		DELETE
		FROM work_node
		WHERE ID=#{id}
	</delete>

	<update id="updateWorkNode" parameterType="int">
		UPDATE
		work_node
		SET LAST_UPDATE_TIME = NOW()
		WHERE WORK_NODE_ID = #{work_node_id}
	</update>

	<select id="getWorkNode" parameterType="long" resultMap="workNodeRes">
		SELECT *
		FROM work_node
		WHERE ID = #{id}
	</select>

	<select id="getAllWorkNodeId" resultType="int">
		SELECT work_node_id
  		FROM work_node
  		WHERE STATUS='on'
	</select>



</mapper>