<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sse.dao.WorkNodeMapper">
    <resultMap id="workerNodeRes"
               type="com.sse.model.WorkNodeEntity">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="IP" jdbcType="VARCHAR" property="ip" />
        <result column="PORT" jdbcType="VARCHAR" property="port" />
        <result column="LAUNCH_DATE" jdbcType="DATE" property="launchDate" />
        <result column="MODIFIED" jdbcType="TIMESTAMP" property="modified" />
        <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    </resultMap>

    <insert id="addWorkerNode" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.sse.model.WorkNodeEntity">
		INSERT INTO WORKER_NODE
		(IP,
		PORT,
		LAUNCH_DATE,
		MODIFIED,
		CREATED)
		VALUES (
		#{hostName},
		#{port},
		#{launchDate},
		NOW(),
		NOW())
	</insert>

    <select id="getWorkerNodeByHostPort" resultMap="workerNodeRes">
		SELECT
		ID,
		IP,
		PORT,
		LAUNCH_DATE,
		MODIFIED,
		CREATED
		FROM
		WORKER_NODE
		WHERE
		IP = #{ip} AND PORT = #{port}
	</select>

</mapper>